body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.div1{
    background-color: #333333;
}

.img1{
    height: 80px;
    width: 150px;
    margin-left: -12px;
}

nav{
    background-color: #666666;
}

.navbar1{
    padding-left: 0px;
}

.div2{
    background-color: #e5e5e5;
    height: 780px;
}

.div3{
    height: 780px;
    padding: 35px 25px
}

.img2{
    height: 174px;
}

.p1{
    padding-right: 50px;
}

.div4{
    background-color: #333333;
    height: 40px;
    text-align: center;
}

.row1{
    margin-top: 30px;
}

.hr1{
    margin-top: 25px;
}

.head1{
    padding: 10px 20px;
}

.hr2{
    margin-top: -8px;
}

.p2{
    padding-left: 20px;
    
}

.p3{
    color: #686868;
}



.p4{
    color: white;
    padding-top: 6px;
}

.p5{
    color: #e98025;
}

.a2{
    color: #e98025;
    text-decoration: none;
}

.a1{
    color: white;
}